@{
    ViewData["Title"] = "Home Page";
}
<div class="input-group">
    <input type="text" id="FormId" class="form-control"/>
    <input type="text" id="FormField" class="form-control"/>
    <input type="text" id="FormFieldOther" class="form-control"/>
</div>
<button class="btn btn-default">Submit</button>



<script>
    $(function() {
        console.log("method is working.");
    })
</script>