@{
    ViewData["Title"] = "Home Page";
}
<div class="input-group">
    <input type="text" id="FormId" class="form-group"/>
    <input type="text" id="FormField" class="form-group"/>
    <input type="text" id="FormFieldOther" class="form-group"/>
</div>
<button class="btn btn-default" id="btnGet">Get</button>
<button class="btn btn-default" id="btnPost" FormId="3334" FormField="Burhan Mubarok" FormFieldOther="Mubarok">Post</button>